.landing-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wwf-landing {
	width: 40%;
	position: absolute;
	top: 20%;
	transition: 0.3s;
	filter: brightness(105%);
}

.wwf-landing:hover {
	filter: brightness(115%);
}

.enter-button {
	position: absolute;
	top: 70%;
	left: 38%;
	padding: 10px;
	width: 20%;
	border-radius: 5px;
	background-color: #f3df15;
	outline: 7px solid #7ac1da;
	border: none;
	font-size: 115%;
	font-weight: bold;
	transition: 0.3s;
	margin-top: 3%;
}

.enter-button:hover {
	cursor: pointer;
	filter: brightness(115%);
	transform: scale(1.05);
	font-size: 180%;
	box-shadow: 0 0 65px #f3df15;
}
