@font-face {
	font-family: 'WRESTLEMANIA';
	src: local('WRESTLEMANIA'), url(./fonts/WRESTLEMANIA.ttf);
}

* {
	box-sizing: border-box;
    font-family: 'WRESTLEMANIA';
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}
